<h1 class="animated fadeIn fast">Autor</h1>
<hr/>
<p class="animated fadeIn">
  Mi nombre es <a target="_blank" href="https://mvelasquezo.github.io/portafolio/public/">Moisés Velaśquez</a>, tengo la oportunidad de ser catedrático universitario, desde diciembre 2012, 
en el área de desarrollo de software. Me enfoco en el análisis, diseño y 
desarrollo web FrontEnd (HTML, CSS3, Vanilla Javascript, Angular y Vue) y 
BackEnd (C/C++, Java y PHP usando MVC) todo <i>«from scratch»</i>.
</p>

<h1 class="animated fadeIn fast">Sobre comicApp</h1>
<hr/>  
<p class="animated fadeIn">
  comicApp busca ser una introducción al uso del framework de Angular en su versión actual (Angular 9, noviembre/2020).
Ha sido desarrollado de la mano del <a target="_blank" href="https://www.udemy.com/course/angular-2-fernando-herrera/">curso</a>
de Fernando Herrera del módulo/unidad <b>Aplicación #2: Aplicación de una sola página (SPA)</b>.
</p>
